body {
    background:#101820;
    color:white;
    font-family:Arial,sans-serif;
    margin:40px;
}

h1{
    text-align:center;
    color:#00d4ff;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#1b263b;
    padding:20px;
    border-radius:10px;
    width:220px;
    text-align:center;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#1b263b;
}

th{
    background:#007acc;
    padding:12px;
}

td{
    padding:10px;
    text-align:center;
    border:1px solid #555;
}

.blocked{
    color:red;
    font-weight:bold;
}

.allowed{
    color:lime;
    font-weight:bold;
}