<!DOCTYPE html>
<html>

<head>

    <title>Firewall Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>🛡 Firewall Dashboard</h1>

<table>

<tr>
    <th>ID</th>
    <th>IP Address</th>
    <th>Port</th>
    <th>Action</th>
</tr>

{% for log in logs %}

<tr>

<td>{{ log[0] }}</td>
<td>{{ log[1] }}</td>
<td>{{ log[2] }}</td>

<td>

{% if log[3] == "BLOCKED" %}

<span class="blocked">
{{ log[3] }}
</span>

{% else %}

<span class="allowed">
{{ log[3] }}
</span>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</body>

</html>